 *{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif; 
}
body{
    /* background-color: #111111;
    background-color: black; */
    background-color: black;

}

nav{
    height: 90px;
    width: 100%;
    /* background-color: black; */
    background-color: black;
    box-shadow: 20px 20px 30px #70012b ;
}

li{
    display: inline-block;
    margin: 20px 100px 35px 20px;
    font-size: 30px;

}
a:hover{     
    /* color: #70012b; */
    box-shadow: 20px 20px 30px #70012b ; 
    color:#fb6f92;
     /* border: thick double #fb6f92; */
     /* border-bottom: solid #fb6f92 ; */

}

a{
    text-decoration: none;
    color: white;
}
.heading{
    color: #fb6f92;
    
    font-size: 50px;
}
.heading:hover{
    color: #70012b;
    box-shadow: 20px 20px 30px #70012b ;

}


section{
    padding: 100px;
}


.About{
    height: 100px;
    width: 50%;
    color: white;
    margin-left: 15%;
    padding: 50px 50px 100px  50px;

}
h1{
    font-size: 45px;
    color: #fb6f92;
}



.Skills{
    height: 100px;
    width: 80%;
    color: white;
    margin-left: 15%;
    padding: 50px 50px 100px  50px;
}



.image1 {
    background-image: url(c_girl.avif);
    background-size: cover;
    margin:0px;
    display: inline-block;
    /* justify-content: center; */
    /* gap: 10px; */
    background-position: center;
    width: 10%;
    height: 200%;
    object-fit: cover;
    border-radius: 10px;
    border: 2px solid rosybrown;
    transition: all ease-in-out 0.5s;
}
.image2 {
    background-image: url(co_girl.png);
    background-size: cover;
    margin: 0px;
    display: inline-block;
    /* justify-content: center; */
    /* gap: 10px; */
    background-position: center;
    width: 10%;
    height: 200%;
    object-fit: cover;
    border-radius: 10px;
    border: 2px solid rosybrown;
    transition: all ease-in-out 0.5s;
}
.image3 {
    background-image: url(cod_girl.png);
    background-size: cover;
    margin: 0px;
    display:inline-block;
    /* justify-content: center; */
    /* gap: 10px; */
    background-position: center;
    width: 10%;
    height: 200%;
    object-fit: cover;
    border-radius: 10px;
    border: 2px solid rosybrown;
    transition: all ease-in-out 0.5s;
}


.image1:hover {
    width: 21%;
    box-shadow: 20px 20px 30px #70012b ;

}

.image2:hover {
    width: 21%;
    box-shadow: 20px 20px 30px #70012b ;

}

.image3:hover {
    width: 21%;
    box-shadow: 20px 20px 30px #70012b ;

}
.Contact{
    margin-top: 10px;
    height: 100px;
    width: 50%;
    color: white;
    margin-left: 15%;
    padding: 50px 50px 100px  50px;
}



form{
    display: flex;
    flex-direction: column;
}
form label{
    margin-top: 10px;
    box-shadow: 20px 20px 30px #70012b ; 
    /* color: azure;
    background-color: black;
    font-size: 200%; */
}

form input, form textarea {
    padding: 15px;
    margin-top: 5px;
}
form :hover {
    box-shadow: 20px 20px 30px #70012b ; 
    
}

  button{
    height: 60px;
    width: 18%;
    background-color: black;
    color: white;
    border-radius: 25px;
    font-size: 25px;
    box-shadow: 6px 6px 12px #70012b,
    -6px -6px 12px #fb6f92 ;
}
 
button:hover {
    background-color: #fb6f92;
} 

.Projects{
    margin-top: 100px;
    height: 100px;
    width: 50%;
    color: white;
    margin-left: 15%;
    padding: 50px 50px 100px  50px;
    
}
a{
    background-color: black;
    color: white;
    height: 100px;
    width: 100px;
    font-size: 25px;
    border: 20% solid#fb6f92;
}
.contact{
    color: white;
    margin-top: 100px;
    margin-left: 11%;
    padding: 50px 50px 100px  50px;
    font-size: 20px;
    font-style: italic;
}

footer{
    height: 200px;
    width: 150%;
    background: black;
    position:  fixed;
    left: 0%;
    box-shadow: 3px 3px black, -1em 0 .7em #70012b;
} 

footer {
    text-align: center;
    color: #fff;
    width: 100%;
    bottom: 0;
    font-size: larger;
}

































































































































 
/* 
 @media (max-width: 768px) {
    nav {
        width: 100%;
    }
    
    li {
        margin: 0 10px; /* Adjust margins for smaller screens */
      /*  font-size: 18px; /* Adjust font size for readability on smaller screens */
    /* } */

    /* .logo { */
        /* width: 150px; Adjust logo size for smaller screens */
    /* }
}  */

















